.navbar {
  background-color: black;
  opacity: 90%;
  text-align: center;
  text-decoration: underline;
  color: white;
}

.spelDiv {
  width: 100vw;
  height: 150vh;
  text-align: center;
  border: solid black;
}

p {
  width: 30vw;
  margin-left: 35vw;
}

.knappen {
  display: flex;
  flex-direction: column;
}

button {
  background-color: rgb(77, 210, 219);
  color: cornflowerblue;
  width: 15%;
  height: 15%;
  font-size: 30px;
  box-shadow: 2px 5px 2px rgb(140, 138, 138);
}

button:hover {
  width: 18%;
}

.bilder {
  display: block;
}

/* ------------------------------------------ */

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  background-color: powderblue;
}

canvas {
  background: rgb(124, 20, 209);
  background: linear-gradient(
    119deg,
    rgba(124, 20, 209, 1) 0%,
    rgba(214, 25, 134, 1) 58%,
    rgba(255, 32, 47, 1) 100%
  );
  border: 2px solid black;
  height: 400px;
  width: 1000px;
  margin: 50px 120px;
  object-fit: cover;
  margin-left: 250px;
}

#gameover {
  display: none;
  position: absolute;
  width: 400px;
  height: 250px;
  margin-left: 545px;
  margin-top: 100px;
  animation: appear 2s;
  animation-fill-mode: forwards;
  opacity: 0%;
}

#försökigen {
  display: none;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  position: absolute;
  background-color: white;
  border: solid black;
  color: black;
  width: 70px;
  height: 20px;
  margin-left: 710px;
  margin-top: 280px;
  animation: appear 2s;
  animation-fill-mode: forwards;
  opacity: 0%;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

/* timer_________________ */

#clock {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  background-color: lightgrey;
  margin: auto;
}

span {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 100px;
}
