body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

canvas {
  background: rgb(124, 20, 209);
  background: linear-gradient(
    119deg,
    rgba(124, 20, 209, 1) 0%,
    rgba(214, 25, 134, 1) 58%,
    rgba(255, 32, 47, 1) 100%
  );
  border: 2px solid black;
  height: 400px;
  width: 1000px;
  margin: 50px 120px;
  object-fit: cover;
}

#gameover {
  display: none;
  position: absolute;
  width: 400px;
  height: 250px;
  margin-left: 420px;
  margin-top: 100px;
  animation: appear 2s;
  animation-fill-mode: forwards;
  opacity: 0%;
}

#försökigen {
  display: none;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  position: absolute;
  background-color: white;
  border: solid black;
  color: black;
  width: 70px;
  height: 20px;
  margin-left: 585px;
  margin-top: 280px;
  animation: appear 2s;
  animation-fill-mode: forwards;
  opacity: 0%;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
